@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
}
h2{
    font-family: 'Poppins', sans-serif !important;
}

.mid-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Banner */
.banner {
    height: calc(100vh - 32px);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.329), rgba(0, 0, 0, 0.849)), url(./assets/BG.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header_main_nav {
    max-width: 100vw !important;
}

.banner h1 {
    line-height: 64px;
}

.join_gym_button {
    border: 1px solid #F04F23;
}

.package_button {
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff !important;
}

/* Table */
.table_border {
    border-collapse: unset;
    border: 1px solid #E6E6E6;
    border-radius: 10px;
}

.table th:first-child {
    position: static !important;
}


/* Slider */
.swiper {
    width: 100%;
    /* height: calc(100vh - 132px); */
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-slide-bgOne {
    background: linear-gradient(to right, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.5)), url(./assets/Rectangle\ 9.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

.image-slide-bgOne .quoteLeft {}

.user_image {
    width: 150px !important;
}

.quote_image {
    width: 100px !important;
}

.quote_image_one {
    transform: rotate(180deg);
}

.quote_image_two {
    align-self: flex-end;

}

.user_review::before {
    content: "\f100";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 100px;
}

.swiper-button-next,
.swiper-button-prev {
    background: rgb(196, 196, 196);
    width: 30px !important;
    height: 30px !important;
    border-radius: 50%;
    font-size: 15px !important;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
    color: #000 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
    font-size: 15px !important;
    font-weight: 700;
}

/* .swiper-button-prev,
.swiper-button-next {
    background: rgba(0, 0, 0, 0.473);
} */
/* media query */

/* Fitness page */
.fitness_margin {
    margin: 35px auto !important;
}

.bottom_margin {
    margin-top: 22px !important;
}

.fitness_content h1 {
    line-height: 100px;
}

.right_to_left {
    direction: rtl;
    unicode-bidi: bidi-override;
}

/* Login Form */
.checkbpox_container {
    /* height: 120px;
    width: 250px; */
    /* margin-top: 35px; */
    position: relative;
    box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.65),
        7px 7px 15px rgba(70, 70, 70, 0.12);
    border-radius: 5px;
    display: flex;
    align-items: center;
    left: -13px;

}

input[type="checkbox"] {
    position: absolute;
    -webkit-appearance: none;
    height: 30px;
    width: 60px;
    border: 5px solid #ececec;
    box-shadow:
        -7px -7px 15px rgba(255, 255, 255, 0.65),
        7px 7px 15px rgba(51, 51, 51, 0.12),
        inset -7px -7px 15px rgba(233, 233, 233, 0.65),
        inset 7px 7px 15px rgba(70, 70, 70, 0.12);
    outline: none;
    cursor: pointer;
    left: 15px;
    border-radius: 40px;
}

input[type="checkbox"]:before,
input[type="checkbox"]:after {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    transition: 0.3s;
}

input[type="checkbox"]:before {
    height: 20px;
    width: 20px;
    background-color: #fff;
    box-shadow: -7px -7px 15px rgba(255, 255, 255, 0.75),
        7px 7px 15px rgba(70, 70, 70, 0.12);
    border-radius: 50%;
    left: 2px;
}

input[type="checkbox"]:after {
    height: 15px;
    width: 15px;
    background-color: #7a7a7a;
    border-radius: 50%;
    right: -35px;
}

input[type="checkbox"]:checked:before {
    left: 26px;
}

input[type="checkbox"]:checked:after {
    background-color: #55f696;
}



@media only screen and (max-width: 1280px) {
    .mid-container {
        padding: 0 70px;
    }
}

@media only screen and (max-width: 1086px) {
    .remember_forget {
        justify-content: end;
    }

    .remember {
        visibility: hidden;
        display: none;
    }
}

@media only screen and (max-width: 1000px) {
    .mid-container {
        padding: 0 40px;
    }
}

@media only screen and (max-width: 767px) {
    .fitness_content h1 {
        line-height: 55px;
    }
}

@media only screen and (max-width: 768px) {
    .mid-container {
        padding: 0 20px;
    }
}

@media only screen and (max-width:560px) {
    .quote_image {
        width: 40px !important;
    }
}