@tailwind base;
@tailwind components;
@tailwind utilities;


/* html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-thumb {
    background: #FF0000;
} */